<!doctype html>
<html lang="hu">

<head>
    <title>Symfony galéria minta</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
